@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap'); /* Imports a web-friendly serif font */

body { /* Themes almost everything on page */
    font-family: "Noto Serif", serif; /* Sets font family to Noto Serif, otherwise fallback to system serif font */
    background-image: url("../img/wallpaper.png");
    background-size: cover; /* Fits the background image over the page while keeping original aspect ratio */
}

h1 {
    text-align: center;
}

p {
    font-size: 125%;
}

marquee {
    font-family: cursive;
    font-size: 60px;
    color: darkorchid;
}

#piss {
    color: yellow;
}

#character {
    border: 0.25vw solid goldenrod;
    width: 48vw; /* Sets the image width to just under half of the screen width, allowing 2 images to fit next to each other perfectly */
    height: auto; /* Automatically adjusts image height based on the width to keep original aspect ratio */
    margin: auto; /* Centers the images */
    margin-bottom: 1vh;
    display: block;
    float: left;
}

#character:nth-child(even) {
    float: right;
}

#navbar ul { /* Themes navbar itself */
    border-radius: 5px; /* Rounds navbar corners */
    list-style-type: none; /* Disables bullet points at the start of ul */
    margin: 0; /* Disables browser default margins */
    padding: 0; /* Disables browser default padding */
    overflow: hidden; /* Hides cutoff content */
    background-color: #252525; /* Sets background color of the navbar */
}

#navbar li { /* Themes list items in navbar */
    float: left; /* Makes items in navbar align to the left */
}

#navbar li a { /* Themes text of list items in navbar */
    display: block; /* Displays the list items side-by-side */
    color: #efefef; /* Sets font color */
    text-align: center; /* Aligns text to center of box */
    padding: 12px; /* Sets padding around text */
    text-decoration: none; /* Disables inherited text decorations */
    font-size: 110%;
}

#navbar li a:hover { /* Themes item being hovered over on the navbar */
    background-color: #1b1b1b; /* Sets background color to a darker shade to give a feeling of responsiveness */
}

.active { /* Themes navbar item that correlates with the active page */
    background-color: #000050; /* Sets background color to make it easy for users to tell which page they're currently on */
}