h1 
{
    text-align: center;
}

body {
    font-family:courier, serif;
    background-image: url("../img/wallpaper.png");
}

marquee {
    font-family: cursive;
    font-size: 60px;
    color: darkorchid;
}

#piss {
    color: yellow;
}

.topMenu {
    align-items: center;
}

.bits {
    display: inline;
}

/* Example ID Style */
#idName {
    /* Code here */
}

/* Example Class Style */
.className {
    /* Code here */
}